<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60456040-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
.open > .dropdown-menu {
    display: inline-table;
}
</style>

<div class="headerContainer" ng-controller="LoginCtrl" ng-cloak>
	<div class="container-full">
		<div class="HeaderContent">
			<div class="col-sm-3 logoBlock">
				<a href="/home"><img class="img-responsive" src="/img/Sunbirdlogo.png" width="auto" height="auto"></a>
			</div>
			<div class="col-sm-6 titleBlock" style="margin-top: 12px;">
                <a href="javascript:void(0)" ng-click="myCourses()" type="button" class="marRight50">Courses</a>
                <!-- <a href="javascript:void(0)" type="button" class="marRight50">Content</a> -->
                <a href="/classroomresources" type="button" class="marRight50">Classroom resources</a>
                <a href="/communities" type="button" class="marRight50">Communities</a>
                <a href="/teacherregistry" type="button" class="marRight50">Teacher registry</a>
                <a href="/testyourself" type="button" class="marRight50">Test yourself</a>
            </div>
			<div class="searchLogBlock">
				<div class="navbar-right">

				<% if(typeof user=='undefined' ) { %>
                    <ul class="navbar-nav headrNotnMneu" style="width: 200px">
                    <li class="dropdown user user-menu pull-left">
						<a href="javascript:void(0);" class="marTop5 pull-right signin-text" data-toggle="modal" ng-click="cleanUp()" data-target="#loginModal">Sign In</a>
                    </li>
                    </ul>
				<% } else { %>
                    <ul class="nav navbar-nav headrNotnMneu">
                    <li class="dropdown user user-menu">
						<input type="hidden" id="userId" value="<%=user.identifier%>"/>
						<a href="javascript:void(0);" id="userDropDown" class="dropdown-toggle"  data-toggle="dropdown" style="right: 20px">
							<% if(!user.metadata || typeof user.metadata.image=='undefined' || user.metadata.image=='' ) { %>
                                <i><img id="userImage" class="headrUserImg" ng-src="/img/default_user.png" /></i>
                            <% } else { %>
                                <i><img id="userImage" class="headrUserImg" ng-src="<%=user.metadata.image %>" /></i>
                            <% } %>
                            <span class="userNameText"><%= user.displayName %><i class="caret"></i></span>
						</a>
						<!-- User image -->
						<ul class="dropdown-menu SettingToggle" style="right: 20px">
							<% if(user.roles.indexOf('admin') > -1 ) { %>
                                <li><a href="/private/player/dashboard">Dashboard</a></li>
                            	<li><a href="/private/admin/import">Import</a></li>
                            <% } else if(user.registered) { %>
                                <li><a href="javascript:void(0)" ng-click="myCourses()">My Courses</a></li>
                                <li><a href="javascript:void(0)" ng-click="peopleProfile('<%=user.identifier%>')">My Profile</a></li>
                            <% } %>
                            <li><a href="#companyWall" ng-if="showMyCompanyLink">My Company</a></li>
							<li><a href="/private/v1/logout" data-action="Logout" data-environment="General" il-capture-click>Log out</a></li>
						</ul>
                        <span class="sideicon3" style="display: none;">
                            <i class="glyph24 fa fa-bars" style="color: #666 !important"></i>
                        </span>
                        </li>
                    </ul>
				<% } %>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<% if(typeof user != 'undefined' ) { %>
		<input type="hidden" id="loggedUserId" value="<%= user.identifier%>"/>
        <% if(user.metadata && typeof user.metadata.image !='undefined' && user.metadata.organizationCode != 'undefined') { %>
            <input type="hidden" id="loggedUserOrgId" value="<%=user.metadata.organizationCode%>"/>
        <% } %>
	<% } %>
	<!-- Sign In Modal -->
    <div class="modal fade " id="loginModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" ng-if="!showForgotPassword">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="modal-title" id="myModalLabel">Sign in to your account!</p>
                </div>
                <div class="modal-header" ng-if="showForgotPassword">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="modal-title" id="myModalLabel">Forgot Password</p>
                </div>
                <form action="/private/v1/login" method="post" class="form-horizontal modal-body" role="form" name="userForm" novalidate>
                    <div class="login-body" ng-show="!showForgotPassword">
                        <div id="signInMessage" class="alert alert-danger" ng-show='success == 0'>Login ID or Password incorrect</div>
                        <label for="inputEmail3" class="col-md-4 control-label signInLabel">Login ID</label>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <div class="col-md-6">
                                <input type="text" id="loginUserName" autofocus class="form-control" placeholder="Username or Email" ng-model="userName" autofocus ng-enter="signIn()">
                                <span style="margin-bottom: -5px;" class="help-block" ng-show="userForm.email.$error.required" class="help-block">Please enter a Login ID.</span>
                            </div>
                            <div class="col-md-2 hidden-xs"></div>
                        </div>
                        <label for="inputPassword3" class="col-md-4 control-label signInLabel">Password</label>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid }">
                            <div class="col-md-6">
                                <input type="password" class="form-control" placeholder="Password" ng-model="passWord" ng-enter="signIn()">
                                <span style="margin-bottom: -5px;" class="help-block" ng-show="userForm.password.$error.required">Please enter a password.</span>
                            </div>
                            <div class="col-md-2 hidden-xs"></div>
                        </div>
                        <label for="forgotPassword" class="col-md-4 control-label signInLabel"></label>
                        <div class="form-group">
                            <div class="col-md-6">
                                <a href="javascript:void(0);" ng-click="openForgotPassworBlock()" class="forgotPwdLink btn-link" >Forgot your password?</a>
                            </div>
                            <div class="col-md-2 hidden-xs"></div>
                        </div>
                        <label for="signInButton" class="col-md-4 control-label signInLabel"></label>
                        <div class="form-group">
                            <div class="col-md-6">
                                <a href="javascript:void(0);" class="btn btn-primary pull-right" ng-click="signIn()">&emsp;&emsp;Sign In&emsp;&emsp;</a>
                            </div>
                        </div
                    </div>
                   
                    </div>
                </form>
                 <div class="modal-body" ng-show="showForgotPassword">
                        <div class="row">
                            <div id="forgotPwdAlert" class="col-md-12 alert hide" role="alert"></div>
                            <div id="forgotPwdBlock" class="col-md-12" ng-hide="resetPasswordMailSent">
                                <div class="row" style="margin-bottom:10px;">
                                    <div class="col-md-12">
                                        <div>Enter your Email Address here to receive a link to change password.</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" ng-model="resetPassword.email" placeholder="Email">
                                    </div>
                                    <div class="col-md-12 marTop20">
                                        <a href="javascript:void(0);" class="btn btn-primary pull-right" ng-click="forgotPasswordEmail()">&emsp;&emsp;Send Password Reset&emsp;&emsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <!-- end of Sign In Modal -->

    

</div>

<div class="clearfix"></div>
<div class="container"></div>