<!doctype html>
<html ng-app="playerApp">

<head>
    <meta charset="utf-8">
    <title>Sunbird</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link id="dynamic-favicon" rel="icon" type="image/ico" href="/common/images/favicon.ico">
    <link rel="stylesheet" href="/themes/<%= theme ? theme : 'default' %>/semantic.min.css">
    <link rel="stylesheet" href="/thirdparty/bower_components/angular-pagedown/angular-pagedown.min.css">
    <link rel="stylesheet" href="/thirdparty/bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/thirdparty/bower_components/slick-carousel/slick/slick-theme.css" />

    <!-- inject:css -->
    <link rel="stylesheet" href="/thirdparty/libs/semantic-ui-tree-picker/semantic-ui-tree-picker.css" />
    <link rel="stylesheet" href="/thirdparty/bower_components/izimodal/css/iziModal.min.css" />
    <link rel="stylesheet" href="/thirdparty/bower_components/semantic-ui-calendar/dist/calendar.min.css" />
    <link rel="stylesheet" href="/thirdparty/bower_components/izitoast/dist/css/iziToast.min.css" />
    <link rel="stylesheet" href="/thirdparty/bower_components/file-upload/fine-uploader/fine-uploader-new.min.css">
    <!-- endinject -->
    <link rel="stylesheet" href="/thirdparty/bower_components/jquery.fancytree/dist/skin-win8/ui.fancytree.min.css">
    <link rel="stylesheet" href="/themes/<%= theme ? theme : 'default' %>/assets/styles/main.css">
    <base href="/private/index">
</head>

<body  ng-controller="AppCtrl">
    <input type="hidden" id="userId" value="<%=userId%>" />
    <input type="hidden" id="sessionId" value="<%=sessionId%>" />
    <input type="hidden" id="cdnUrl" value="<%=cdnUrl%>" />
    <input type="hidden" id="theme" value="<%=theme%>" />
    <input type="hidden" id="defaultPortalLanguage" value="<%=defaultPortalLanguage%>" />
    <div ng-include="'views/common/topHeader.html'"></div>
    <div class="ui top attached fluid container">
        <div class="ui padded grid">
            <div class="row">
                <div class="twelve wide column">
                    <main>
                        <div ui-view="mainView">
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <script src="/common/js/org.js"></script>
    <!-- inject:js -->
    <script src="/thirdparty/libs/eventbus.min.js"></script>
    <script src="/thirdparty/libs/md5.js"></script>
    <script src="/thirdparty/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/thirdparty/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/thirdparty/bower_components/angular/angular.min.js"></script>
    <script src="/thirdparty/libs/angular-inview.js"></script>
    <script src="/thirdparty/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/thirdparty/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/thirdparty/bower_components/semantic-ui-calendar/dist/calendar.min.js"></script>
    <script src="/thirdparty/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/thirdparty/bower_components/angular-ui-router/release/stateEvents.min.js"></script>
    <script src="/thirdparty/libs/semantic-ui-tree-picker/semantic-ui-tree-picker.js"></script>
    <script src="/thirdparty/bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="/thirdparty/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/thirdparty/bower_components/angular-pagedown/angular-pagedown.min.js"></script>
    <script src="/thirdparty/bower_components/pagedown/Markdown.Converter.js"></script>
    <script src="/thirdparty/bower_components/pagedown/Markdown.Sanitizer.js"></script>
    <script src="/thirdparty/bower_components/pagedown/Markdown.Extra.js"></script>
    <script src="/thirdparty/bower_components/pagedown/Markdown.Editor.js"></script>
    <script src="/thirdparty/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="/thirdparty/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/thirdparty/bower_components/izimodal/js/iziModal.min.js"></script>
    <script src="/thirdparty/bower_components/jquery.fancytree/dist/jquery.fancytree.min.js"></script>
    <script src="/thirdparty/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/thirdparty/bower_components/angular-uuid4/angular-uuid4.min.js"></script>
    <script src="/thirdparty/bower_components/js-md5/build/md5.min.js"></script>
    <script src="/thirdparty/bower_components/izitoast/dist/js/iziToast.min.js"></script>
    <script src="/thirdparty/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="/thirdparty/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/thirdparty/semantic-tree-picker/semantic-ui-tree-picker.js"></script>
    <script src="/thirdparty/libs/generateAndDownloadCSV.min.js"></script>

    <script src="/thirdparty/semantic/semantic.min.js"></script>
    <script src="scripts/utils/util.js"></script>
    <script src="/thirdparty/libs/telemetry.min.js"></script>
    <script src="scripts/playerAppConfig.js"></script>
    <script src="scripts/managers/eventManager.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/routes/appRoute.js"></script>
    <script src="scripts/routes/announcementRoute.js"></script>
    <script src="scripts/factories/sessionFactory.js"></script>
    <script src="scripts/services/restfulContentService.js"></script>
    <script src="scripts/services/restfulLearnerService.js"></script>
    <script src="scripts/factories/announcementModel.js"></script>
    <script src="scripts/services/adapters/httpAdapter.js"></script>
    <script src="scripts/services/adapters/announcementAdapter.js"></script>
    <script src="scripts/services/adapters/courseQuestionsAdapter.js"></script>
    <script src="scripts/services/contentService.js"></script>
    <script src="scripts/services/noteService.js"></script>
    <script src="scripts/services/courseService.js"></script>
    <script src="scripts/services/learnService.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/services/pageSectionService.js"></script>
    <script src="scripts/services/searchService.js"></script>
    <script src="scripts/services/permissionsService.js"></script>
    <script src="scripts/services/contentStateService.js"></script>
    <script src="scripts/services/toasterService.js"></script>
    <script src="scripts/services/routeHelperService.js"></script>
    <script src="scripts/services/formValidation.js"></script>
    <script src="scripts/services/adminService.js"></script>
    <script src="scripts/services/batchService.js"></script>
    <script src="scripts/services/workSpaceUtilsService.js"></script>
    <script src="scripts/services/configService.js"></script>
    <script src="scripts/services/dashboardService.js"></script>
    <script src="scripts/services/dataService.js"></script>
    <script src="scripts/services/paginationService.js"></script>
    <script src="scripts/controllers/searchController.js"></script>   
    <script src="scripts/controllers/searchResultController.js"></script>
    <script src="scripts/controllers/conceptPickerController.js"></script>
    <script src="scripts/controllers/appController.js"></script>
    <script src="scripts/controllers/note/noteListController.js"></script>
    <script src="scripts/controllers/courseScheduleController.js"></script>
    <script src="scripts/controllers/learnController.js"></script>
    <script src="scripts/controllers/resourceController.js"></script>
    <script src="scripts/controllers/communityController.js"></script>
    <script src="scripts/controllers/homeController.js"></script>
    <script src="scripts/controllers/profileController.js"></script>
    <script src="scripts/controllers/contentPlayer.js"></script>
    <script src="scripts/controllers/note/noteCardController.js"></script>
    <script src="scripts/controllers/contentPlayerController.js"></script>
    <script src="scripts/controllers/workspace/createLessonController.js"></script>
    <script src="scripts/controllers/workspace/draftContentController.js"></script>
    <script src="scripts/controllers/workspace/reviewContentController.js"></script>
    <script src="scripts/controllers/workspace/publishedContentController.js"></script>
    <script src="scripts/controllers/workspace/allUploadedContentController.js"></script>
    <script src="scripts/controllers/contentEditorController.js"></script>
    <script src="scripts/controllers/collectionEditorController.js"></script>
    <script src="scripts/controllers/genericEditorController.js"></script>
    <script src="scripts/controllers/workspace/TextBookController.js"></script>
    <script src="scripts/controllers/workspace/CollectionController.js"></script>
    <script src="scripts/controllers/workspace/previewContentController.js"></script>
    <script src="scripts/controllers/workspace/upForReviewContentController.js"></script>
    <script src="scripts/controllers/collectionPlayerController.js"></script>
    <script src="scripts/controllers/pageSectionController.js"></script>
    <script src="scripts/controllers/workspace/CourseController.js"></script>
    <script src="scripts/controllers/admin/adminController.js"></script>
    <script src="scripts/controllers/common/contentFlagController.js"></script>
    <script src="scripts/controllers/workspace/flaggedContentController.js"></script>
    <script src="scripts/controllers/batch/batchListController.js"></script>
    <script src="scripts/controllers/batch/batchController.js"></script>
    <script src="scripts/controllers/batch/batchUpdateController.js"></script>
    <script src="scripts/controllers/workspace/createLessonPlanController.js"></script>
    <script src="scripts/controllers/dashboard/orgDashboardController.js"></script>
    <script src="scripts/controllers/common/contentSharingController.js"></script>
    <script src="scripts/controllers/dashboard/orgDashboardController.js"></script>
    <script src="scripts/controllers/search/publicProfileController.js"></script>
    <script src="scripts/controllers/dashboard/courseProgressDashboardController.js"></script>
    <script src="scripts/controllers/dashboard/courseConsumptionDashboardController.js"></script>
    <script src="scripts/controllers/admin/bulkUploadController.js"></script>
    <script src="scripts/filters/dateFilter.js"></script>
    <script src="scripts/filters/noteListFilter.js"></script>
    <script src="scripts/filters/highLightFilter.js"></script>
    <script src="scripts/directives/applyScript.js"></script>
    <script src="scripts/directives/appLoader.js"></script>
    <script src="scripts/directives/errorMessage.js"></script>
    <script src="scripts/directives/contentPlayer.js"></script>
    <script src="scripts/directives/noteCardDirective.js"></script>
    <script src="scripts/directives/courseDiscussions.js"></script>
    <script src="scripts/components/courseQuestions.js"></script>
    <script src="scripts/directives/slickDirective.js"></script>
    <script src="scripts/directives/addNoteDirective.js"></script>
    <script src="scripts/directives/permissionsDirective.js"></script>
    <script src="scripts/directives/pageSectionDirective.js"></script>
    <script src="scripts/directives/searchDirective.js"></script>
    <script src="scripts/directives/contentFlagDirective.js"></script>
    <script src="scripts/directives/batchCardDirective.js"></script>
    <script src="scripts/directives/conceptPicker.js"></script>
    <script src="scripts/directives/admin/searchedUser.js"></script>
    <script src="scripts/directives/admin/bulkUpload.js"></script>
    <script src="scripts/directives/batchDetailsDirective.js"></script>
    <script src="scripts/directives/contentSharingDirective.js"></script>
    <script src="scripts/services/setup/setupService.js"></script>
    <script src="scripts/services/geoService.js"></script>
    <script src="scripts/controllers/setup/setupController.js"></script>
    <script src="scripts/controllers/workspace/limitedPublishedContentController.js"></script>
    <script src="scripts/components/parent.js"></script>
    <script src="scripts/components/geo.js"></script>
    <script src="scripts/directives/profileVisibility.js"></script>
    <script src="scripts/controllers/profileVisibilityController.js"></script>
    <script src="scripts/services/telemetryService.js"></script>
    <script src="scripts/controllers/dataDrivenFiltersController.js"></script>

    <!-- Announcement flow -->
    <script src="/thirdparty/bower_components/file-upload/fine-uploader/fine-uploader.js"></script>
    <script src="scripts/controllers/announcement/announcementOutboxListController.js"></script>
    <script src="scripts/controllers/announcement/announcementInboxListController.js"></script>
    <script src="scripts/controllers/announcement/composeAnnouncementController.js"></script>
    <script src="scripts/controllers/announcement/announcementDetailsController.js"></script>
    <script src="scripts/directives/announcementDetailsDirective.js"></script>
    <script src="scripts/directives/fileUpload.js"></script>
    <script src="scripts/factories/fileUploadFactory.js"></script>

    <!-- Dashboards -->
    <script src="scripts/factories/dashboard/queryService.js"></script>
    <script src="scripts/factories/dashboard/rendererService.js"></script>
    <script src="scripts/factories/dashboard/graph/lineChart.js"></script>
    <script src="scripts/services/dashboard/datasources/dataSourceUtils.js"></script>
    <script src="scripts/services/dashboard/datasources/courseConsumptionDataSource.js"></script>
    <script src="scripts/services/dashboard/datasources/courseProgressDataSource.js"></script>
    <script src="scripts/services/dashboard/datasources/orgCreationDataSource.js"></script>
    <script src="scripts/services/dashboard/datasources/orgConsumptionDataSource.js"></script>
    <script src="scripts/services/dashboard/datasources/downloadReportDataSource.js"></script>

    <!-- endinject -->
    <script src="../common/js/frmelmnts.js"></script>
    <script src="../common/js/messages.js"></script>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-inview/angular-inview.js"></script>

</body>

</html>
